node_modules/
.env
server/firebaseServiceAccount.json
server/package-lock.json
server/node_modules/
server/web-pelaporan-firebase-adminsdk-fbsvc-1bfc7e0510.json
client/package-lock.json
client/node_modules/
